/* projects.component.css */

.project {
    margin-left: 250px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Adjust styles for smaller screens */
@media (max-width: 768px) {
    .project {
      margin-left: 0;
      padding: 10px;
      box-shadow: none;
    }
    
    .project img {
      max-width: 100%;
    }
  }